{# template for viewing a User and his listings #}
{% extends "base.html" %}
{% block content %}


<h1> </h1>

<h4> All posts by {{ user.name }} </h$>
    <div> 
    </div>

<ul>
    {% for post in posts %}
    <li>
        {{ post.title }}<br>
        <a href="{{url_for('posts.viewPost', post_id=post.id)}}">View post!</a>
        <br>
        <img class="mainimg" src="/static/upload/photos/{{post.img_name}}" alt="Post Image"/>
        <br>
            for: $ {{ post.price }}
        <br>
            at: {{ post.time_created }}
        <br>
            {% if post.time_updated %}
               Updated: {{ post.time_updated }}
            {% endif %}
        </li>
        {% else %}
        {# default block #}
        <li>No posts entered yet!</li>
    {% endfor %}
</ul> 
</div>
    <a href='{{ url_for("posts.mainPage")}}'>Go back</a>
{% endblock content %}