{# template for editing a store #}
{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container viewbody">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2>Edit Store Name:</h2>
            <form action="#" method='post' enctype='multipart/form-data'>
                <div class="form-group">
                    <input type='text' size='30' name='name' placeholder="{{store.name}}">
                </div>
                <br>
                <input type='submit' value='Edit' class="btn btn-default">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>
</div>
{% endblock content %}