{# template for creating a listing #}
{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container viewbody">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2>New Listing:</h2>
            <form action="#" method='post' enctype='multipart/form-data'>
                <div class="form-group">
                    <input type='text' size='30' name='title' placeholder="Title:">
                </div>
                <textarea name='description' placeholder="Description:" size="60"></textarea>

                <div class="form-group">
                    <input type='text' size='30' name='price' placeholder="Price:">
                </div>
                <div class="form-group">
                    <input type='integer' size='30' name='zipcode' placeholder="Zipcode:">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                </div>
                <label>Image:
                <input type='file' name='photo'>
                </label>
                <br>
                <input type='submit' value='Create' class="btn btn-default">
            </form>
        </div>
    </div>
</div>
{% endblock content %}