{# template for viewing a post #} 
{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <p class="text-center">
            <a class="btn btn-default text-center" href="{{url_for('posts.newPost', store_id=store.id)}}">Add a Listing!</a>
        </p>
        </div>
        <div class="col-md-9">
        <h1>Welcome to {{store.name}}!</h1><h5>by {{store.user.name}}</h5>
     {% for post in posts %}
    <div class="col-xs-12 col-sm-6 col-md-3 rwrapper">
     <div class="rlisting">
          <div class="col-md-12 nopad">
              <a href="{{url_for('posts.viewPost', post_id=post.id)}}">
                  <img class="img-responsive post-img" src="/static/upload/photos/{{post.img_name}}" alt="Post Image"/>
              </a>
        </div>
            <a href="{{url_for('posts.viewPost', post_id=post.id)}}">
                        {{ post.title }}
                    </a>
              <i class="fa fa-usd dlr">{{ post.price }}</i>
              <hr>
            <p class="datetimemain"> 
            {% if post.time_updated %}
            Updated: {{ post.time_updated.strftime('%Y-%m-%d') }}
            {% else %}
            <p class="datetimemain">{{ post.time_created.strftime('%Y-%m-%d') }}
            {% endif %}</p>
     </div>
    </div>
        {% else %}
        {# default block  dont end div's in an else #}
        No posts entered yet!
    {% endfor %}
        </div>
        </div>
            <div class="btn-group viewpostbtngrp well-sm pull-right">
            {% if store.user_id == login_session['user_id'] %}
            <a class="btn btn-default" href='{{ url_for("posts.deleteStore", store_id=store.id) }}'>Delete</a>
            <a class="btn btn-default" href='{{ url_for("posts.editStore", store_id=store.id) }}'>Edit</a>
            {% endif %}
                <a class="btn btn-default" href='{{ url_for("posts.mainPage")}}'>Go back</a></li>
            </div>
</div>
{% endblock content %}