{# template for editing a post #}
{% extends "base.html" %}
{% block content %}


<h2> Edit Post </h2>
<h2> {{ post.title }} </h2>
        <form action= "{{url_for('editPost', post_id = post.id)}}" method = 'POST' enctype='multipart/form-data'>
    <label> Title:
        <input type = 'text' size='30' name ='title' placeholder = '{{ post.title }}'>
    </label><br>
    <label> Description:
        <input type = 'text' size='30' name='description' placeholder = '{{ post.description }}'>
    </label><br>
    <label> Price:
        <input type='text' size='30' name='price' placeholder='{{ post.price }}'>
    </label><br>
        <input type='submit' value='Edit'>
    </form>
    <a href= '{{url_for('viewPost', post_id=post.id)}}'>Cancel</a>
{% endblock content %}
