<div class="container">
    <div class="row siteheader">
                <a class="btn btn-default" href="{{url_for('posts.mainPage')}}">Home</a>
                {% if 'username' not in session %}
                <a class="btn btn-default" href="{{url_for('auth.showLogin')}}">Log In</a>
                {% else %}
                <a class="btn btn-default" href="{{url_for('auth.disconnect')}}">Log Out</a>
                {% endif %}
                {% if 'username' in session %}
                <a class="btn btn-default" href="{{url_for('posts.showStores')}}">Stores</a>
                {% endif %}
    </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>