<ul class="nav nav-pills siteheader">
                <li><a href="{{url_for('posts.mainPage')}}">Home</a></li>
                {% if 'username' not in session %}
                <li><a href="{{url_for('auth.showLogin')}}">Log In</a></li>
                {% else %}
                <li><a href="{{url_for('auth.disconnect')}}">Log Out</a><br></li>
                {% endif %}
</ul>
<div class=>
    <div> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>