{# template for main view of all posts #}
{% extends "base.html" %}
{% block content %}

<h1> Sellit! </h1>
<a href="{{url_for('newPost')}}">Add a Listing!</a>
<ul>
    {% for post in posts %}
    <li>
        {{ post.title }}<br>
        <a href="{{url_for('viewPost', post_id=post.id)}}">View post!</a>
        <br>
        <img class="mainimg" src="/static/upload/photos/{{post.post_img_path}}" alt="Post Image"/>
        <br>
            for: $ {{ post.price }}
        <br>
            at: {{ post.time_created }}
        <br>
            {% if post.time_updated %}
               Updated: {{ post.time_updated }}
            {% endif %}
        </li>
        {% else %}
        {# default block #}
        <li>No posts entered yet!</li>
    {% endfor %}
</ul> 

{% endblock content %}
