<div class="sidebar">
    <div class="row">
        <div class="sidebar-thumbnail">

    <figure>
    {% if store %}
    <img class="img-responsive" src="{{store.user.picture}}"/>
    <figcaption>
        <a href='{{ url_for("auth.show_user", username=store.user.user_id) }}'>{{store.user.name}}</a>
    </figcaption>
    </figure>
    {% else %}
    <img class="img-responsive" src="{{post.user.picture}}"/>
    <figcaption>
    <a href='{{ url_for("auth.show_user", username=post.user.user_id) }}'>{{post.user.name}}</a>
    </figcaption>
    </figure>
    {% endif %}

        </div>
    </div>
</div>